IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'MidTermTestApi')
BEGIN
  CREATE DATABASE MidTermTestApi;
END;
GO

USE [MidTermTestApi]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 10/10/2024 8:19:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[id] [int] NOT NULL,
	[au_lname] [nvarchar](50) NOT NULL,
	[au_fname] [nvarchar](10) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 10/10/2024 8:19:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[id] [int] NOT NULL,
	[pub_name] [nvarchar](50) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TitleAuthor]    Script Date: 10/10/2024 8:19:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleAuthor](
	[id] [int] NOT NULL,
	[author_id] [int] NOT NULL,
	[title_id] [int] NOT NULL,
	[pub_date] [datetime] NOT NULL,
	[royaltyper] [int] NULL,
	[sort] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_TitleAuthor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_TitleAuthor] UNIQUE NONCLUSTERED 
(
	[title_id] ASC,
	[author_id] ASC,
	[pub_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Titles]    Script Date: 10/10/2024 8:19:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Titles](
	[id] [int] NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[pub_id] [int] NOT NULL,
	[number] [int] NOT NULL,
	[price] [money] NOT NULL,
	[notes] [nvarchar](200) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Titles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TitleAuthor]  WITH CHECK ADD  CONSTRAINT [FK_TitleAuthor_Authors] FOREIGN KEY([author_id])
REFERENCES [dbo].[Authors] ([id])
GO
ALTER TABLE [dbo].[TitleAuthor] CHECK CONSTRAINT [FK_TitleAuthor_Authors]
GO
ALTER TABLE [dbo].[TitleAuthor]  WITH CHECK ADD  CONSTRAINT [FK_TitleAuthor_Titles] FOREIGN KEY([title_id])
REFERENCES [dbo].[Titles] ([id])
GO
ALTER TABLE [dbo].[TitleAuthor] CHECK CONSTRAINT [FK_TitleAuthor_Titles]
GO
ALTER TABLE [dbo].[Titles]  WITH CHECK ADD  CONSTRAINT [FK_Titles_Publishers] FOREIGN KEY([pub_id])
REFERENCES [dbo].[Publishers] ([id])
GO
ALTER TABLE [dbo].[Titles] CHECK CONSTRAINT [FK_Titles_Publishers]
GO
